@model DataLayer.Page

@{
    ViewBag.Title = "Details";
}

<h2>جزئیات خبر </h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img class="thumbnail" src="~/PageImages/@Model.ImageName" style="max-width:150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreaetDate)
        </dt>

        <dd>
            @Model.CreaetDate.ToShamsi()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.PageId }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
